.login-box {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 720px;
  position: relative;
  /* background: #1f8ec2; */
  /* border: 1px solid black; */
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.login-snip {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 32px 50px;
}

.login-snip .login,
.login-snip .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
  display: none;
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
  text-transform: uppercase;
}

.login-snip .tab {
  font-size: 28px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 30px 0;
  text-align: center;
  display: block;
  border-bottom: 2px solid transparent;
}

.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab {
  color: white;
  text-shadow: 1px 2px 3px Indigo;
  font-size: 40px;
}

.login-space {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-space .group {
  margin-bottom: 15px;
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  width: 100%;
  color: #fff;
  display: block;
}

.login-space .group .input,
.login-space .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
}

.login-space .group .input {
  margin-bottom: 19px;
  font-size: 14px;
  color: black;
}

.login-space .group .input::placeholder {
  /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.8;
  /* Firefox */
}

:-ms-input-placeholder {
  /* chạy trên Internet Explorer 10-11 */
  color: black;
  opacity: 0.8;
}

::-ms-input-placeholder {
  /* chạy trên Microsoft Edge */
  color: black;
  opacity: 0.8;
}

.login-space .group input[data-type="password"] {
  -webkit-text-security: circle;
}

.login-space .group .label {
  color: white;
  text-shadow: 1px 2px 3px Indigo;
  /* font-size: 40px; */
  font-size: 16px;
  margin-bottom: 10px;
}

.login-space .group .button {
  background: #1161ee;
  cursor: pointer;
  font-weight: 600;
}

.login-space .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}

.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-space .group .check:checked + label {
  color: black;
}

.login-space .group .check:checked + label .icon {
  background: #1161ee;
}

.login-space .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-space .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
  transform: rotate(0);
}

.login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
  transform: rotate(0);
}

*,
:after,
:before {
  box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}

.foot {
  text-align: center;
}

.card {
  width: 500px;
  left: 100px;
  top: 10px;
  background-color: transparent;
}

::placeholder {
  color: #b3b3b3;
}

.error {
  position: absolute;
  right: 0px;
  color: red !important;
  font-size: 15px;
}
