#page-loadingmoney {
  text-align: center;
}
#page-loadingmoney .banner_loadingmoney {
  width: 80%;
  height: 350px;
}

#page-loadingmoney .banggia {
  width: 100%;
}
#page-loadingmoney .banggia .row {
  width: 90%;
}
#page-loadingmoney .banggia div:first-child {
  text-align: start;
  margin-left: 50px;
  align-items: center;
}
#page-loadingmoney .banggia img:first-child {
  height: 70px;
  width: 250px;
}
#page-loadingmoney .banggia img:nth-child(2) {
  height: 70px;
  width: 70px;
}
#page-loadingmoney .banggia div:last-child {
  margin-right: 20px;
  text-align: justify;
}
#page-loadingmoney .banggia p {
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#page-loadingmoney .banggia form p {
  color: red;
  font-weight: 600;
  padding: 5px 0;
}
#page-loadingmoney .banggia form:last-child p {
  color: blueviolet;
}
#page-loadingmoney form select {
  width: 340px;
  height: 40px;
}
#page-loadingmoney form {
  margin: 20px 0;
}
#page-loadingmoney .banggia {
  display: flex;
  justify-content: space-around;
}

#page-loadingmoney .img-coin img {
  height: 250px;
  width: 250px;
}
